/*  Edgar Alejandro Jarquin Flores */
*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    
}

#wrapper{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    
}

#display{
    display: grid;
    width: 222px;
    height: 65px;
    grid-column: 1/5;
    justify-content: end;
    padding: 5px;
    background-color:#5D5B5A;
    color: white;
    font-size: 3vmax;
    
    
    
}
#numeros{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    
}

.doble{
    display: grid;
    grid-column: 1 / 3;
   
}

.btn{
    height: 48px;
    width: 58px;
    
    
}

.naranja{
    background-color: #FF9F0C;
    border-color: black;
    border-width: .99px;
    color: white;
    font-size: 20px;
    
}

.slate{
    background-color: #696969;
    border-color: black;
    border-width: .99px;
    color: white;
    font-size: 20px;
}

.numbers{
    background-color: #838383;
    border-color: black;
    border-width: .99px;
    color: white;
    font-size: 20px;
    
}